<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
    <property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
  </Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
		  <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
      <PatternLayout pattern="${PATTERN}" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="TRACE">
	    <AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>