<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunstudio.dao.UserConfigDao">
  <resultMap type="com.sunstudio.pojo.UserConfigPojo" id="userConfig">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="password" property="password" />
    <result column="user_info_id" property="userInfoId" />
    <result column="is_delete" property="isDelete" />
    <result column="create_date" property="createDate" />
    <result column="create_user" property="createUser" />
    <result column="modify_date" property="modifyDate" />
    <result column="modify_user" property="modifyUser" />
  </resultMap>

	<!-- 根据登录名|登录密码获取用户 -->
	<select id="selectByNameAndPassword" resultType="com.sunstudio.pojo.UserConfigPojo">
		select t.name as name, t.password as password 
		  from user_config t
		 where t.name = #{name}
		   and t.password = #{password}
	</select>

  <!-- 添加用户 -->
  <insert id="insertUser" parameterType="com.sunstudio.pojo.UserConfigPojo" useGeneratedKeys="true">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String" keyColumn="id" statementType="STATEMENT">
      select replace(uuid(), '-', '') from dual
    </selectKey>
    insert into user_config(
      id,
      <if test="null != name">
        name,
      </if>
      <if test="null != password">
        password,
      </if>
      <if test="null != userInfoId">
        user_info_id,
      </if>
      is_delete, 
      create_date, 
      create_user, 
      modify_date, 
      modify_user)
    values(
      #{id},
      <if test="null != name">
        #{name},
      </if>
      <if test="null != password">
        #{password},
      </if>
      <if test="null != userInfoId">
        #{userInfoId},
      </if> 
      0, 
      NOW(), 
      'ADMIN', 
      NOW(), 
      'ADMIN')
  </insert>

</mapper>